<div class="row">
    <h1 class="page-header">Delete User</h1>
  
  </div>
  <div class="row" *ngIf ="!jsonData">
      <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> Please wait Loading the User Data 
        </div>
  </div>
  <div class="row" *ngIf="jsonData">
    <div class="col-lg-5">
      <form name="AddUser"  id="userForm" novalidate>
        <div class='table-responsive' ng-app="">
          <table class="table table-bordered">
            <tr>
              <th>First Name</th>
              <td>
                  <input type="hidden" [(ngModel)]="jsonData.User_ID" class="form-control" name="userId">
                
                {{jsonData.First_Name}}
              </td>
            </tr>          
            <tr>
              <th>Last Name</th>
              <td>
                {{jsonData.Last_Name}}
              </td>
            </tr>         
            <tr>
              <th>Employee Id</th>
              <td>
                {{jsonData.Employee_ID}}
              </td>
            </tr>
            <tr *ngIf="!responseData === true;">
              <td colspan="2" class="text-center"><button id="btnAddTask" type="submit" (click)='DeleteUser(jsonData)' class="btn btn-default">Delete User</button> | <button
                  id="btnReset" type="submit" class="btn btn-default" [routerLink]="['/users']" >Cancel</button></td>
            </tr>
            <tr *ngIf="responseData === true;">
                <td colspan="2" class="text-center">
                <button id="btnReset" type="submit" class="btn btn-default" [routerLink]="['/users']" >Back to Users</button></td>
              </tr>
          </table>
        </div>
      </form>
      <div *ngIf="responseData === true;">
          <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button> User deleted successfully !!!
          </div>
        </div>
    </div>
  </div>