<div class="sidebar-nav navbar-collapse">
  <ul class="nav" id="side-menu">
        <li>
                <a href="#"><i class="fa fa-user"></i> Users<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li>
                        <a href="/users">View Users</a>
                    </li>
                    <li>
                        <a href="/adduser">Add Users</a>
                    </li>
                </ul>          
            </li>
      <li>
          <a href="#"><i class="fa fa-pinterest"></i> Projects<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse">
              <li>
                  <a href="/projects">View Projects</a>
              </li>
              <li>
                  <a href="/addproject">Add Projects</a>
              </li>
          </ul>          
      </li>
      <li>
            <a href="#"><i class="fa fa-tasks"></i> Tasks<span class="fa arrow"></span></a>
            <ul class="nav nav-second-level collapse">
                <li>
                    <a href="/tasks">View Tasks</a>
                </li>
                <li>
                    <a href="/addtask">Add Tasks</a>
                </li>
            </ul>            
      </li>      
  </ul>
</div>